h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: cornflowerblue;
}

.sankey {
  height: 60%;
  /* overflow: auto; */
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.no-label-utterance {
  height: 40%;
  width: 50%;
}

.new-topics {
  height: 40%;
  width: 50%;
}
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
