:host{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5em 0;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.swap-button {
  --button-font-size: 10px;
  --button-padding: 10px;
  --button-bg	: rgb(70, 70, 70);
}