

.feed{
  display:flex;
}
.feed.feed__right{
  flex-direction: row-reverse;
}

.label{
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

.feed.feed__right .label{
  text-align: right;
}

.select-container{
  display: flex;
}

.feed.feed__right .select-container{
  flex-direction: row-reverse;
}

.user-label{
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.bot-label{
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.utterance{
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  background: cornflowerblue;
  color: #fff;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* font-family: 'Noto Sans', sans-serif; */
}

.utterance.utterance__right{
  /* border-radius: 10px;
  font-size: 15pt; */
  background:black;

  /* color: #fff;
  width: 300px;
  padding: 20px;
  margin: 10px;
  font-family: 'Noto Sans', sans-serif; */
}

.bot-part {
  float:left;
  clear:both;
}

.select-box {
  height: 30px;
}

.input-box{
  height: 30px;
  font-size: 12pt;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;

}

.option {
  zoom: 150%;
  /* font-size: 10pt; */
  /* padding:5px 0; */
}