.memo-list {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

.micro {
  background-color:rgb(253, 200, 85);
  color:black;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.macro {
  background-color:rgb(253, 228, 85);
  color:black;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

vaadin-checkbox {
  color: white;
}