:host {
  margin: 40px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.left-side-text {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.review-link {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.crowd-link {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: coral;
}

/* a:visited {
  color: white;
} */