:host {
  margin: 40px;
}

h1 {
  color: rgb(255, 245, 152);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

.left-side-text {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.review-link {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.crowd-link {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

a:link {
  color:cornflowerblue;
}

a:visited {
  color:rgb(146, 146, 146);
}

a:active {
  color: lemonchiffon;
}

/* a:visited {
  color: white;
} */