h1 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    text-align: right;
    font-family: 'Noto Sans', sans-serif;
}

.user-part {
    float: right;
    clear: both;
}

.user-label{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    font-family: 'Noto Sans', sans-serif;

}

.user-say{
    border-radius: 15px;
    /*background: cornflowerblue;*/
    width: 300px;
    height: 70px;
    font-family: 'Noto Sans', sans-serif;

}

.bot-part {
    float:left;
    clear:both;
}

.bot-label{
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Noto Sans', sans-serif;

}

.bot-say{
    border-radius: 15px;
    /*background: #73AD21;*/
    padding: 20px;
    width: 300px;
    height: 70px;
    font-family: 'Noto Sans', sans-serif;

}
