h3 {
  font-family: 'Open Sans', sans-serif;
}

.topic-list {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}


.commit-input {
  margin: 10px;
  --input-bg: white;
  --input-bg-filled: white;
  --input-font-family: 'Open Sans', sans-serif;
  --textarea-min-height: 150px;
  --input-font-size: 15px;
  color: blue;
}


.button-container  {
  display: flex;
  flex-direction: column-reverse;
  flex:1;
}

.button {
  margin: auto;
  background: black;
  color: white;
  font-size: 20px;
  padding: 12px;
  border-radius: 10px;
}
/*
vaadin-text-area.min-height {
  min-height: 150px;
} */
