.memo {
  --input-bg: rgb(255, 187, 0);
  --input-color:black;
  --input-label-color: white;
  --input-font-family: 'Open Sans', sans-serif;
}

.add-container {
  display: flex;
  flex-direction: row-reverse;
}

button {
  /* -webkit-box-shadow: none;
  -moz-box-shadow: none; */
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: Transparent no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;s
  outline:none;
}