h2 {
  /* margin-left: 20px; */
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.item {
  margin-bottom: 15px;
}

.topic-list {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.button-container .button-save {
  background: coral;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  margin: 40px;
  font-family: 'Open-sans', sans-serif;
  text-align: center;
}

.button-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  /* flex-direction: column;
  height: 100vh;
  display: flex; */

}

.add-container {
  display: flex;
  flex-direction: row-reverse;
}


button {
  /* -webkit-box-shadow: none;
  -moz-box-shadow: none; */
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: Transparent no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}