:host {
  margin: 0;
  padding: 0;
  display: grid;
  /* grid-template-rows: 1fr 20fr; */
  grid-template-columns: 4fr 1fr;
}
/*
.top {
  background: gray;
  grid-column-start: 1;
  grid-column-end: 4;
  color: rgb(225, 189, 255);
  padding-left: 10px;
  font-family: 'Miriam Libre', sans-serif;
} */

/* .left {
  background: rgb(94, 94, 94);
  background: #252839;
  color: white;
  padding: 10px;
  height: 100vh
} */

.center {
  background: white;
  padding: 10px;
  padding-top: 50px;
  height: 100vh;
  box-sizing: border-box;
}

.right {
  background: #252839;
  color: white;
  padding-top: 50px;
  height: 100vh;
  box-sizing: border-box;
}

.right-scrollable{
  height: 100%;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}
/*
.center-modal {
  background: #888888;
  font-size: 20px;
  color: white;
  padding: 20px;
  text-align: center;
} */
